*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

nav {
    height: 12vh;
    width: 100%;
    background-color: rgb(38, 38, 42);
    color: #fff;
}
nav ul {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}
nav li a {
    color: #fff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    height: 530px;
    width: 100%;
    padding: 40px;
    background-color:rgb(1, 2, 20);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.userForm {
    height: 320px;
    width: 55%;
    border: 1px solid #4b4949;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.userForm input {
    height: 45px;
    width: 80%;
    background-color: transparent;
    border: 1px solid #4b4949;
    padding: 5px 10px;
    border-radius: 15px;
    color: #c5c1c1;
}

.userForm button {
    height: 35px;
    width: 80%;
    border-radius: 15px;
    border: none;
    color: #fff;
    background-color: green;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background-color: rgb(3, 100, 3);
    }
}

.container>button {
    height: 40px;
    width: 55%;
    border: none;
    border-radius: 15px;
    color: #fff;
    background-color: rgb(154, 39, 31);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
       background-color: rgb(121, 30, 23);
    }
}